h1 {
    text-align: center;
    background-color: white;
    font-size: 45px;
    border-radius: 50px;
    border: 12px solid ;
    border-color: aqua;    
}

img {
    align-items: center;
    border-radius: 50px;
    border-bottom: 12px;
    border: 12px solid ;
    border-color: aqua;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
    font-size: 30px;
}

ol{
    font-size: 25px;
    color: red;
}
